<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Product</title>
</head>
<body>
<h1>Create New Product</h1>
<form th:action="@{/new_product}" method="post">
    <label for="name">Product Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
    <br>
    <button type="submit">Submit</button>
</form>
<p><a th:href="@{/}">Back to Home</a></p>
</body>
</html>
